.txtRed{
    color: red;
}

.txtBlue{
    color: blue;
}

.txtGreen{
    color: green;
}

.txtBarrato{
    text-decoration: line-through;
}

.txtSottolineato{
    text-decoration: underline;
}

.txtOrange{
    color: orange;
}

.dimensioni{
    width: 400px;
    height: 400px;
    border: 1px solid black;
}