.txtRed{
    color: red;
}

.txtBlue{
    color: blue;
}

.txtGreen{
    color: green;
}

.txtBarrato{
    text-decoration: line-through;
}

.txtSottolineato{
    text-decoration: underline;
}

.txtOrange{
    color: orange;
}